[user]
    name = Gauthier Östervall
    email = gauthier.ostervall@lumenradio.com
[core]
    editor = emacsclient -c -a emacs
    excludesfile = ~/.gitignore
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[alias]
    b = branch
    d = diff --no-ext-diff # See diff.external to see what `git diff` runs
    co = !git checkout
    hist = !gitk --all&
    st = status
    sm = submodule
    g = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset%x09%s%C(auto)%d%Creset' --abbrev-commit --date=short
    graph = log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset%x09%Cblue[%an]%Creset%x09%s%C(auto)%d%Creset' --abbrev-commit --date=short

[push]
    #default = simple
    default = current
    followTags = true
    recurseSubmodules = check
[credential]
    helper = cache --timeout 7200
[diff]
    external = side-by-side-diff-for-git.sh

