! This file must be reloaded after modification:
! xrdb -merge ~/.Xresources

!
! XScreensaver settings
!
!font settings
xscreensaver.Dialog.headingFont:        -*-terminus-bold-r-*--16-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-terminus-medium-r-*-*-16-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-terminus-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-terminus-bold-r-*-*-12-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #eeeeee
xscreensaver.Dialog.background:         #222222
xscreensaver.Dialog.topShadowColor:     #222222
xscreensaver.Dialog.bottomShadowColor:  #222222
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #222222
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #80ff80
xscreensaver.Dialog.text.background:    #222222
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    1
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #70ef70
xscreensaver.passwd.thermometer.background:  #101010
xscreensaver.passwd.thermometer.width:       6
!datestamp format--see the strftime(3) manual page for details
!xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

! Added 170921 to try and get normal sized cursor. Lets see if that works after login.
Xcursor.size: 32
Xft.dpi: 100


#include "dotfiles/rxvt-unicode"

! Collection / hybrid from https://terminal.sexy/
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6
